
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration:none;
    line-height: 1.6em;
    
}
main { 
     padding: 1% 2%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 1.8em;
    font-weight: bold;
    text-transform:uppercase;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    
}

h3 {
    opacity: 0.3;
    text-transform: lowercase;
}

h4 {
    font-weight: bold;
    text-transform: uppercase;
}

p {
    opacity: 0.5;
}
li {
    list-style: none;
}


/*For the overall page paragraph should be little transparent but for footer it should be opaque*/

.foot-nav p {
    opacity: 1;
}

header {
    background-color:hsl(210, 11%, 86%);
    display: flex;
    padding-bottom:30px;
}

header div {
    margin: auto 10%;
}

/*To change navigation bar vertical (block)*/
a {
    display:block;
    padding: 5% 1%;
    
}

nav {
    padding-left: 10%;
    font-weight: bold;

}

/*This is for large screen to disply navigation bar inline*/
@media only screen and (min-width: 900px) {
    nav {
        display: flex;
        justify-content: flex-start;
        align-items:center;

    }

    a {
        justify-content: center;
        padding-right: 2%;
        box-sizing: border-box;
        align-items:center;
    }    
}

#banner {
    height: 150px;
    display: flex;
}

#banner img {
    flex: 1;
    object-fit: scale-down;
    max-width: 100%;
}

/*This is for large screen to disply large image*/
@media only screen and (min-width: 900px) {
    #banner {
        height: 300px;
    }

    #banner img {
        object-fit: cover;
    }    
}

/*This is for the div which contains description of web devlopment as an industry and practical web developement */
/*This is to display first practical web development (section) and then web development (aside) vertical in mobile layout */
.wrap-top {
    margin: 0 10%;
}
.wrap-top article {
    margin-top: 5%;
}
.wrap-top aside {
    margin-top: 5%;
    font-size: 0.8em;
}

/*This is for the large screen to display aside and section side by side*/
@media only screen and (min-width: 900px) {
    .wrap-top {
        display: flex;
        justify-content: space-between;
    }  
    .wrap-top article {
        flex-basis: 60%;
        order: 2;}
    .wrap-top aside {
        flex-basis: 30%;
        order: 1;}
}

/*This is for the div which contains description of the gallery (aside) and logotypes on the web (section) */
.wrap-bottom {
    margin: 0 10%;
}
.wrap-bottom article {
    margin-top: 5%;
}

.wrap-bottom aside {
    margin-top: 5%;
    font-size: 0.8em;
}

.icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.icons a {
    flex-basis: 45%;
    margin-top: 5%;
    display: flex;
    justify-content: center;    
}

.icons a i {
    font-size:120px;
}

@media only screen and (min-width: 900px) {
    .wrap-bottom {
        display: flex;
        justify-content: space-between;
    }

    .icons a {
        flex-basis: 23%;
    }
    .wrap-bottom aside {
        flex-basis: 30%;
    }
    .wrap-bottom article {
        flex-basis: 60%;
    }
}

/* Styles for footer section*/
footer {
    padding-left: 10%; 
    background-color:  rgb(154, 70, 165);
    color: white; 
    margin-top: 2%;
    line-height: 1.5;
}

.foot-nav {
    padding: 5% 0;
}

.foot-nav {
    display:block;
}

/*Navigation bar in the footer should not be part of mobile layout*/


.foot-nav:last-child {
    display: none;
}

@media only screen and (min-width: 900px) {
    footer {
        display: flex;
        justify-content: space-between;
    }
    .foot-nav {
        flex-basis: 23%;
    }
   
    .foot-nav:last-child {
        display: block;
    }

